# dir
detectron2/
faster_rcnn/
mmdetection/work_dirs/
mmdetection/wandb/
mmdetection/vis_data/
mmdetection/artifacts/ 
**/__pycache__/**

# extension
/mmdetection/*.ipynb

# file
mmdetection/LICENSE
mmdetection/MANIFEST.in
mmdetection/model-index.yml
mmdetection/pytest.ini
mmdetection/requirements.txt